<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" authorizationPolicy="episerver:cmsedit" moduleJsonSerializerType="Resolve" preferredUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="Alloy.MediaReport" />
    </assemblies>

    <clientResources>
        <add name="media-report" path="clientResources/index.js" resourceType="Script" />
    </clientResources>

    <requiredResources>
      <add name="media-report" />
    </requiredResources>
</module>
